* {
  font-family: 'Inconsolata';
  zoom: 1.10;
  -moz-transform: scale(1.10);
  -moz-transform-origin: 0 0
}

form button {
  height: 35px;
}

.submitForm {
  margin-bottom: 10px;
  margin-top: 35px;
}

.main {
  width: 40%;
  margin: 0 auto;
}

.counter {
  margin-left: 5px;
  margin-right: 5px;
}
